<link rel="apple-touch-icon" sizes="76x76" href="https://yosoyfreeman.github.io/assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://yosoyfreeman.github.io/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://yosoyfreeman.github.io/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="https://yosoyfreeman.github.io/assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="https://yosoyfreeman.github.io/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="https://yosoyfreeman.github.io/assets/images/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://yosoyfreeman.github.io/assets/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#000000">
<a rel="me" href="https://mastodon.gamedev.place/@YoSoyFreeman"> </a>

 
<!-- Open Graph ---->
<meta property="og:type" content="article">
<meta property="og:site_name" content="{{ site.title }">
<meta property="og:locale" content="en_US">
<meta property="og:title"   content="{{ page.title }}">
<meta property="og:url"   content="{{ site.url }}{{ page.url }}">

<meta property="og:url" content={{ site.url }}{{ page.url }}"
<meta property="og:type" content="Article">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.excerpt }}">
<meta property="og:image" content="https://yosoyfreeman.github.io/assets/images/home/oddworld_header.jpg">


{% if page.summary %}
<meta property="og:description" content="{{ page.summary }}">
{% else %}
<meta property="og:description" content="{{ site.description }}">
{% endif %}
 

{% if page.largeimage %}
<meta property="og:image" content="{{ site.url }}{{ page.largeimage }}">
{% else %}
{% if page.image %}
<meta property="og:image" content="{{ site.url }}{{ page.image }}">
{% else %}
<meta property="og:image" content="{{ site.title_image }}">
{% endif %}
{% endif %}
<!-- end open graph -->
 
